.homepage__container {
    /* height: 100vh; */
    width: 100%;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.homepage__side {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #FCFDFD;
    box-shadow: 0px 1px 8px #0099ff29;
    padding: 1.5rem;
}

#logo {
    align-self: center;
    margin-top: 1.5rem;
}

#logo img {
    width: 3rem;
}

.homepage__side-nav {
    margin-top: 4rem;
    padding: 1rem;
}

.homepage__side-nav-links {
    list-style: none;
    margin-bottom: 17rem;
}

.homepage__side-nav-links li {
    margin-top: 1.5rem;
    font-size: 15px;
}

.nav-link img {
    width: .8rem;
    margin-right: .7rem;
}

.homepage__main {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.homepage__main-top {
    width: 100%;
    border-bottom: .2px solid #212353;
    display: flex;
    justify-content: flex-end;
}

.homepage__user {
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.homepage__user p {
    color: #212353;
    font-size: 14px;
}

.homepage__intro {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.homepage__intro-name h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: .4rem 0;
}

.homepage__intro-name .name {
    color: #3D86C5;
    font-weight: bold;
}

.intro-btn {
    background-color: #3D86C5;
    width: 8rem;
    color: #FCFCFD;
    padding: .5rem;
    border: .5px solid #3D86C5;
    border-radius: .3rem;
}

.homepage__pond-data {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

.homepage__pond-weight,
.homepage__pond-distance {
    width: 25rem;
    height: 12rem;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 8px #c4c4d629;
    border-radius: 8px;
}

.weight-metric {
    font-size: 18px;
}

.homepage-mini-header img {
    width: .9rem;
    margin-left: .3rem;
    object-fit: contain;
}

.homepage-mini-header h6 {
    font-size: 15px;
}

.homepage__pond-weight .pond-weight {
    display: flex;
    margin-top: 2rem;
    align-self: center;
}

.pond-weight h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    margin-right: 2rem;
}

.pond-weight .growth p {
    font-size: 14px;
}

.pond-weight .growth {
    align-self: flex-end;
}

.homepage__pond-distance {
    position: relative;
    overflow: hidden;
}

.homepage__pond-distance .distance {
    margin-top: 1.3rem;
}

.homepage__pond-distance .distance p {
    font-size: 14px;
}

.homepage__pond-image {
    position: absolute;
    right: 0;
    top: 2rem;
}

.homepage__pond-data2 {
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

.homepage__pond-ph {
    width: 38rem;
    height: 13rem;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 8px #c4c4d629;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.pond-ph-i {
    position: absolute;
    top: 0;
    right: 0rem;
    overflow: hidden;
}

.pond-ph-i img {
    object-fit: contain;
    filter: opacity(30%);
    /* background-blend-mode: overlay; */
}

.pond-ph-i img:nth-of-type(1) {
    transform: translate(20%, -70%);
}

.pond-ph-i img:nth-of-type(2) {
    transform: translate(23%, 0%);
}

.homepage__ph-tracker {
    width: 100%;
    margin: 3rem auto;
}

.homepage__ph-tracker img {
    width: 100%;
}

.tracker {
    background-color: #3D86C5;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    margin-bottom: .4rem;
    position: relative;
}

.tracker::after {
    content: '0';
    color: #fff;
    font-weight: bold;
    position: absolute;
    transform: rotate(45deg);
    left: 50%;
    top: 10%;
}

.tracker:hover {
    background-color: #072a49;
    cursor: pointer;
}

.ph-info {
    display: flex;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 2rem 1rem;
    justify-content: space-between;
}

.ph-info li::marker {
    color: red;
}

.homepage__water-temp {
    width: 20rem;
    height: 13rem;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 8px #c4c4d629;
    border-radius: 8px;
    margin: auto 2rem;
}

.temperature_scale {
    width: 80%;
    margin: 2rem auto;
}

.temperature_scale img {
    width: 100%;
}

.temperature_scale img::after {
    content: "27&deg;";
}

.homepage__pond-activity {
    width: 95%;
    margin: 1rem auto;
}

.homepage__pond-activity h2 {
    margin: .5rem 0;
    font-size: 20px;
}

.pond-activity {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 1px 8px #c4c4d629;
    border-radius: 8px;
}

.pond-activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    border-top: .1px solid #212353;
    padding: .3rem;
}

.pond-activity-data p {
    font-size: 14px;
}

.data_header {
    margin-bottom: .8rem;
    text-align: center;
    border-top: none;
}

.data_header h4 {
    font-size: 16px;
}